#blog h3, h4{
    text-align: center;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#blog article{
    margin: 15px;
}
#blog img{
    width: 100%;
    max-width: 280px;
    max-height: 320px;
}

#blog img:hover{
    max-width: 300px;
    max-height: 340px;
    border-radius: 20%;
    transition:all .5s ease-in-out;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#blog iframe{
    height: 220px;
}

footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy{
    font-size: 20px;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a{
    color: #333;
    text-decoration: none;
}
.sociales a:hover{
    font-size: 32px;
    border-bottom: 2px solid #333;
}